@import url(https://fonts.googleapis.com/css2?family=Cantata+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ruge+Boogie&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap);

:root {
    --w:1920;
    --h:1080
    --x: 0.0;
    --y: 0.0;
}
*{
    box-sizing: border-box;
}
footer{
    height : calc(var(--h)/2 * 1px);
}
body{
    /*background-image: url("https://images.squarespace-cdn.com/content/v1/551a19f8e4b0e8322a93850a/1574024073167-PRLTM8P9IEOI4Q6EZQYO/Desert.gif");
    background-origin:center;
    background-attachment: fixed;
    background-size: cover;*/
    padding : 0px;
    margin : 0px;
    image-rendering: pixelated;
    background: black;
    color:white;
    transition: margin-top 0.3s;
    overflow-x:hidden;
}
#clicker{
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
    background-size: 400% 400%;
    animation: gradient 5s infinite;
}
#nom{
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    position: absolute;
    z-index:99;
    left: 0%;
    top: 0%;
    transition: height ease 0.3s;
    padding:0px;
    overflow:hidden;
    background:black;
}
#nom .small{
    font-size:smaller;
    display: block;
    width:100%;
    text-align: center;
    text-justify:auto;
    margin:0px;
}
::selection{
    background: none;
}
#nom h1{
    font-size: medium;
    text-justify:auto;
    cursor: pointer;
    background:black;
    background-color: blue;
    mix-blend-mode: exclusion;
    color:white;
    margin:0px;
}
nav{
    /*border : solid 1px white;*/
    background :black;
    color: white;
    margin:0px;
}
nav a{
    text-decoration: none;
    color: white;
    transition : all 0.3s;
}
nav ul{
    margin : 0;
    list-style-type: kannada;
    padding-top: 10px;
    padding-bottom:10px;
}
nav li:hover a{
    text-decoration: underline;
    margin-left:5%;
}
#centered{
    z-index:0;
    width:50%;
    font-family: 'Rubik Mono One', sans-serif;
    position: relative;
    top : calc((var(--h)/2) * 1px);
    left : calc((var(--w)/2) * 1px);
    transform: translate(-50%, -50%);
}
#centered h1{
    text-align: center;
}
#centered h3{
    text-align: justify;
    color: lightgrey;
}

#content{
    font-family: 'Rubik Mono One', sans-serif;
    position: relative;
    top : calc((var(--h)) * 1px);
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 1rem;
}
.search-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.search-wrapper label {
	font-size: 2rem;
	font-weight: 600;
}
#search {
	max-width: 30em;
	height: 2.5rem;
	background-color: #FFF0;
	outline: none;
	border: none;
    border-bottom:solid white 1px;
	padding: 0.5em 1em;
    font-family: 'Rubik Mono One', sans-serif;
	font-size: 1rem;
	color: white;
	transition: all 200ms ease-in-out;
}
#search:focus {
	background-color: #333;
}
.cards-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1em;
	margin-top: 3em;
}
.card {
	background-color: #333;
	padding: 1em;
	display: grid;
	gap: 0.25rem;
}
.name {
	font-size: 1.5rem;
	font-weight: 500;
}
.card p {
	font-size: 0.8rem;
	color: #aaa;
}
.hide {
	display: none;
}

@keyframes gradient {
    0% {
        background-position: -200% 50%;
        animation-timing-function:linear;
    }
    100% {
        background-position: 200% 50%;
        animation-timing-function:cubic-bezier(1, 0, 0, 1);
    }
}
@media screen and (max-width : 640px) {
    .container {
        padding: 2em;
    }
    #centered{
        width:90%;
    }
    #nom{
        width:calc(1px * var(--w));
        position:static;
    }
    #menuWrap{
        z-index:99;
        position:fixed;
        top:0px;
    }
    #clicker{
        text-align: center;
    }
}
@media screen and (min-width : 641px){
    #nom{
        transform: translate(calc(-50% + 1px * var(--x)), calc(-50% + 1px * var(--y)));
        transition: all ease 0.1s;
    }
}