@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
ul li.link{
    cursor :pointer;
    font-weight:300;
    border-bottom:dashed 1px white;

}
ul.first li{
    display: none;
    padding:5px;
    color:#fff;
    border-left:solid #aaa;
}
ul.first:hover li{
    display: block;
}
li.first ul, ul.first{
    overflow:hidden;
}
ul.first{
    width:100%;
    margin:0px;
    color:white;
    display:inline-block;
    padding:5px;
    text-align:center;
    background:#000;
}
ul.first:hover li.first{
    display:block;
}
*{
    font-family: 'Noto Sans Mono', monospace;
}
body{
    padding:0px;
    margin:0px;
    background: black;
    overflow-y: scroll;
}
.links{
    width:75%;
    max-width: 200mm;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    filter :blur(0.5px);
}
.menubar{
    top:0px;
    position:fixed;
    width:100%;
    height: 100px;
    color:#fff;
    z-index:1;
    font-weight:100;
    left:50%;
    transform: translateX(-50%);
}
.name{
    color:#000;
    background:#fff;
    display:inline-block;
    padding:5px;
    margin:auto;
    filter : blur(0.5px);
}
.namediv{
    text-align:center;
    margin:5px;
}
#main{    
    text-align:justify;
    color:white;
    /*background: url(../images/background.png);*/
    padding: 10px;
    padding-top: 100px;
    transition: all;
    transition-duration: 0.3s;
    background-origin: center;
    background-size: 100%;
    min-height:500px;
    filter : blur(0.5px);
}
li::content, #menuIco {
    filter : blur(0.5px);
}
#menuIco{
    cursor:pointer;
}
@media screen and (max-width: 640px) {
    .links{
        min-width:0px;
        max-width:100%;
        width:90%;
    }
    .menubar{
        width:100%;
    }
    ul.first{
        width:100%;
    }
  }


@media screen and (min-width: 460mm) {
    .links, .name, #main, li::content, #menuIco{
        filter : blur(0px);
    }
}