@import url(https://fonts.googleapis.com/css2?family=Cantata+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ruge+Boogie&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap);

:root {
    --w:1920;
    --h:1080
    --x: 0.0;
    --y: 0.0;
}
body{
    /*background-image: url("https://images.squarespace-cdn.com/content/v1/551a19f8e4b0e8322a93850a/1574024073167-PRLTM8P9IEOI4Q6EZQYO/Desert.gif");
    background-origin:center;
    background-attachment: fixed;
    background-size: cover;*/
    padding : 0px;
    margin : 0px;
    image-rendering: pixelated;
    background: black;
    color:white;
    transition: margin-top 0.3s;
    overflow:hidden;
}
main{
    overflow:scroll;
}
#clicker{
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
    background-size: 400% 400%;
    animation: gradient 5s infinite;
}
#nom{
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    position: absolute;
    z-index:999;
    left: 0%;
    top: 0%;
    transition: height ease 0.3s;
    padding:0px;
    overflow:hidden;
    
}
#nom .small{
    font-size:smaller;
    display: block;
    width:100%;
    text-align: center;
    text-justify:auto;
    margin:0px;
}
::selection{
    background: none;
}
#nom h1{
    font-size: medium;
    text-justify:auto;
    cursor: pointer;
    background:black;
    background-color: blue;
    mix-blend-mode: exclusion;
    color:white;
    margin:0px;
}
nav{
    /*border : solid 1px white;*/
    background :black;
    color: white;
    margin:0px;
}
nav .link{
    text-decoration: none;
    color: white;
    transition : all 0.3s;
}
nav ul{
    margin : 0;
    list-style-type: kannada;
    padding-top: 10px;
    padding-bottom:10px;
}
nav li:hover .link{
    text-decoration: underline;
    margin-left:5%;
}
@keyframes gradient {
    0% {
        background-position: -200% 50%;
        animation-timing-function:linear;
    }
    100% {
        background-position: 200% 50%;
        animation-timing-function:cubic-bezier(1, 0, 0, 1);
    }
}
@media screen and (max-width : 640px) {
    #nom{
        width:calc(1px * var(--w));
        position:static;
    }
    #menuWrap{
        position:fixed;
        top:0px;
    }
    #clicker{
        text-align: center;
    }
}
@media screen and (min-width : 641px){
    #nom{
        transform: translate(calc(-50% + 1px * var(--x)), calc(-50% + 1px * var(--y)));
        transition: transform 0.0s;
    }
}